<html>
<body>
<form method="post" onsubmit="return validate_form(this)">
	<h3>Lisää tilaisuus</h3>
        Otsikko:  <input type="text"     	name="otsikko" /> <br />
  		  Paikka:  <input type="text"     	name="paikka" /> <br />			
        Kaupunki: <input type="text" 		name="kaupunki" /> <br />
		  Kuvaus:  <input type="text"     	name="kuvaus" /> <br />
        <input type="submit" value="Submit" />
</form>
</body>

</html>

