<html>
<head>
</head>

<body>
  <h3>Cloudtestapp</h3>

  <p>
  <%="#{@nro.amount}"%> hits
  </p>

  <p><a href="/">press here</a></p>

  <p><a href="/add">add</a</p>

  <p><a href="/list">list</a></p>
</body>
</html>
