<html>
<head>
</head>

<body>
  <h2>Tilaisuudet</h2>

  <ul>
    <% @lista.each do |tilaisuus| %>

      <h4> <%="#{tilaisuus.otsikko}"%> </h4>

			<p> <%="#{tilaisuus.paikka}"%> <%="#{tilaisuus.kaupunki}"%> </p>
			<p> <%="#{tilaisuus.kuvaus}"%> </p>

    <% end %>

    <p><a href="/">takaisin</a></p>

  </ul>

</body>
</html>
